body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol,
a {
    list-style-type: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    color: #2e2f42;
}

.logotype {
    color: #2E2F42;
    text-decoration: none;
    margin-right: 76px;
}

.logotype-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

@media screen and (max-width: 767px) {
    .container {
    width: 320px;
    max-width: 100%;
    }

    .benefits-list {
        display: flex;
        flex-direction: column;
        flex-basis: calc((100%-72px)/4);
        justify-content: center;
    }

    .mob {
        display: none;
    }

    .benefits-list {
        display: none;
    }

    .main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile-bg.jpg);
        background-color: #2e2f42;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: auto;
        margin-left: auto;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 320px;
    }

    .btn-mob:hover,
    .btn-mob:focus {
    background-color: #404BBF;
    }

    .first-title {
        width: 288px;
        margin-right: auto;
        margin-left: auto;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border-radius: 4px;
    margin-top: 72px;
    padding: 16px 32px;
    border: none;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .button:hover,
    .button:focus {
    background-color: #404BBF;
        }

    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    .menu {
    display: none;
    }

    .menu-item {
    display: none;
    }

    .mobile-add {
    display: none;
    }

    .header {
    padding-top: 16px;
    padding-bottom: 16px;
    }

    .page-header {
    display: flex;
    justify-content: space-between;
    }

    .mobile-burger {
        top: 0;
        right: 0;
        border: none;
        padding: 0;
        background-color: transparent;
        line-height: 0;

    }

    .mob-open-burger {
        stroke: rgba(47, 47, 55, 1);
    }

    .backdrop-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999999;
        background-color: rgba(255, 255, 255, 1);
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
    }

    .backdrop-mobile {
        opacity: 1;
        visibility: vis;
        pointer-events: auto;
        transform: translateX(0%);
    }

    .mobile-container {
        width: 151px;
    }

    .mobile-studio {
        color: rgba(64, 75, 191, 1);
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-list {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgba(46, 47, 66, 1);
    }

    .address-backdrop {
        width: 193px;
        margin-top: 168px;
    }

    .add-header {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgba(67, 68, 85, 1);
    }

    .tel-mob {
        color: rgba(77, 90, 229, 1);
    }

    .mobile-icons {
        margin-top: 48px;
    }

    .mobile-social-media-list {
        display: flex;
        gap: 16px;
    }

    .mobile-social-media-link {
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-social-media-link:hover,
    .mobile-social-media-link:focus {
        background-color: #31d0aa;
    }

    .mobile-social-media-item {
        width: 40px;
        height: 40px;
    }

    .mobile-icon {
        fill: #f4f4fd;
    }

.benefits-container {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
}
 
.benefits-list {
display: flex;
gap: 24px;
column-gap: 24px;
 }

 .benefits-items {
    flex-basis: calc((100% - 288px) / 3);
 }

 .benefits-icon {
    display: none;
 }

 .benefits-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: rgba(46, 47, 66, 1);
 }

 .mob-cont-b {
    width: 288px;
    margin-right: auto;
    margin-left: auto;
}

 .benefits-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(67, 68, 85, 1);
 }

 .second-title {
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     color: #2E2F42;
     letter-spacing: 0.02em;
     margin-bottom: 72px;
     color: rgba(46, 47, 66, 1);
 }


 .team {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 24px;
 }

 .our-team {
     background-color: #F4F4FD;
     padding: 120px 0;
 }

 .team-member {
     width: 264px;
     margin-right: auto;
     margin-left: auto;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .team-icons {
     stroke: #F4F4FD;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     fill: #f4f4fd;
 }

 .social-list {
     display: flex;
     justify-content: center;
     margin-left: 16px;
     margin-right: 16px;
     margin-top: 8px;
     gap: 24px;
     align-items: center;
 }

 .social-link {
     display: flex;
     width: 40px;
     height: 40px;
     background-color: rgba(77, 90, 229, 1);
     border-radius: 50%;
     position: relative;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     align-items: center;
     justify-content: center;

 }

 .social-link:focus {
    background-color: rgba(64, 75, 191, 1);
 }

 .name-job {
     padding: 32px 0;
     border-radius: 0px 0px 4px 4px;
 }

 .team-name {
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     color: #2E2F42;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 8px;
 }

 .second-title {
     text-transform: capitalize;
 }

 .team-member {
     background-color: #FFFFFF;
     border-radius: 0px 0px 4px 4px;
 }

 .about-member {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #434455;
     text-align: center;
 }

 .text-overlay {
    display: none;
 }

 .third-title {
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     color: #2E2F42;
     text-transform: capitalize;
     letter-spacing: 0.02em;
     margin-bottom: 72px;
 }

 .portfolio {
     display: flex;
     flex-direction: column;
     gap: 24px;
     row-gap: 48px;
     column-gap: 24px;

 }

 .portfolio-item {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
 }

 .portfolio-border {
     border: 1px solid #e7e9fc;
     padding: 32px 16px;
     border-top: none;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-text {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .footer-flex {
     align-items: baseline;
 }

 .logo-p {
     width: 288px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 72px;
 }

 .logo-text {
     margin-right: 120px;
 }

 .footer {
     background-color: #2e2f42;
     padding: 100px 0px;
 }


 .footer-social-media-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 16px;
     text-align: center;
 }

 .footer-social-media-list {
     gap: 16px;
     display: flex;
 }

 .footer-social-media-link {
     background-color: #4d5ae5;
     width: 100%;
     display: flex;
     height: 100%;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-social-media-link:focus {
     background-color: #31d0aa;
 }


 .footer-social-media-item {
     width: 40px;
     height: 40px;
 }

 .footer-icon {
     fill: #f4f4fd;
 }

 .logo-two {
     color: #f4f4fd;
 }

 .cont-logo {
    width: 116px;
    margin-left: auto;
    margin-right: auto;
 }

 .logotype {
     display: inline-block;
     margin-bottom: 16px;
 }

 .footer-text {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #F4F4FD;
     max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
 }

.footer-social-media {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
}

 .title-footer {
     color: #FFFFFF;
     font-weight: 500;
     text-align: left;
     margin-bottom: 16px;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .social-media-footer {
     margin-left: 120px;
 }
 .form-title {
     font-family: 'Roboto', sans-serif;
     color: rgba(255, 255, 255, 1);
     font-weight: 500;
     letter-spacing: 0.02em;
     line-height: 1.5;
     font-size: 16px;
     margin-bottom: 16px;
 }

 .form-container {
     width: 288px;
     margin-left:auto;
     margin-right: auto;
 }

 .footer-form {
     display: flex;
     flex-direction: column;
     gap: 24px;
     justify-content: center;
 }

 .input-email {
     background-color: transparent;
     border: 1px solid rgba(255, 255, 255, 1);
     width: 288px;
     border-radius: 4px;
     height: 40px;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     padding-left: 16px;
     padding-top: 8px;
     padding-bottom: 8px;
     font-size: 12px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     color: #ffffff;
 }

 .input-email:focus {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }

 .input-email::placeholder {
     color: #ffffff;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 2;
 }

 .sub-btn {
     background-color: rgba(77, 90, 229, 1);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     max-width: 165px;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     padding: 8px 24px;
     border-radius: 4px;
     color: rgba(255, 255, 255, 1);
     border: none;
     height: 40px;
     cursor: pointer;
 }

 .sub-btn:focus {
     background-color: (64, 75, 191, 1);
 }

 .btn-icon {
     margin-left: 16px;
 }
}